.cardBody {
  margin: 0;
  padding-left: 10px;
  position: static;
  z-index: 0;
  /* display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  align-items: center; */
}
.cardBody:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.fa {
  -webkit-animation-name: fa-beat;
  animation-name: fa-beat;
  -webkit-animation-delay: var(--fa-animation-delay, 0s);
  animation-delay: var(--fa-animation-delay, 0s);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(
    --fa-animation-iteration-count,
    infinite
  );
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
  animation-timing-function: var(--fa-animation-timing, ease-in-out);
}

.card {
  width: 230px;
  height: 350px;
  background-color: #080e0e;
  position: relative;
  justify-self: center;
  border: 1px solid #85858554;
  border-radius: 4px;
  // cursor: pointer;
  overflow: hidden;
  transition: border 0.2s ease;
  margin-bottom: 10px;
  z-index: 1;
}
.card img {
  cursor: pointer;
  max-height: 70%;
  min-width: 90%;
  padding: 10px;
  object-fit: cover;
  transition: transform 0.2s ease;
  z-index: 2;
}
.card:hover img {
  transform: scale(1.1);
}

.card:hover {
  border: 1px solid #c7c7c7;
}
.card:hover > .overlay {
  opacity: 1;
}
.trackDescription {
  color: white;
  margin-top: 5px;
  padding-left: 15px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    margin-left: 20px;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
  button {
    margin-left: 10px;
  }
}
.play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000000bb;
  display: grid;
  place-content: center;
  cursor: default;

  opacity: 1;
  transform: scale(0);
  transition: all 0.4s ease 0.15s;
}
.play i {
  font-size: 14px;
}
.card:hover > .overlay .play {
  opacity: 1;
  transform: scale(1);
}
.btn {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 6px 6px;
  width: 40%;
  height: 30px;
  margin: 0px 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: #0b5ed7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  &:hover {
    background-color: #0d6efd;
    transform: translateY(-8%);
  }
}
