.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  color: black;
  padding-left: 10px;
  position: relative;
}

.navbar * {
  display: inline;
}

.navList * {
  padding: 15px;
}
