.p {
  font-size: 40px;
  text-align: center;
  color: whitesmoke;
}

.empty {
  background-color: rgba($color: #000000, $alpha: 0.8);
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnTwo {
  margin-top: 20px;
  margin-right: 10px;
  width: 200px;
  height: 40px;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgb(90, 89, 89);
  padding: 1px 10px;
  font-size: 1rem;
  border-radius: 3px;
  color: rgb(243, 228, 228);
  background-color: rgb(91, 90, 90);
}
