.TrackContainer {
  display: flex;
  align-items: center;
  margin: 20px, 5px;
  height: 60px;
  padding: 20px;
  background-color: rgba($color: #000000, $alpha: 1);
  box-sizing: border-box;
  // border-radius: 15px;
  color: white;
}

.TrackContainer:hover {
  background-color: rgba($color: #1a1a1a, $alpha: 1);
}
.costil {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
  margin: 0 5px;
}
.bpm {
  width: 10%;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 0 20px;
  color: rgb(174, 171, 171);
}
.tag {
  padding: 6px;
  margin: 2px 5px;
  border: 1px solid gray;
  background-color: #303030;
  border-radius: 15px;
  color: rgb(172, 171, 171);
  cursor: pointer;
  &:hover {
    background-color: #383838;
    text-decoration: underline;
    color: white;
  }
}
.trackInfoLeft {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // padding: 5px;
}
.TrackInfoRight {
  width: 10%;
  right: 0;
  margin: 20px 20px;
  display: flex;
  justify-content: flex-end;
}
.iconContainer {
  width: 50px;
  height: 50px;
  margin: 5px 0;
}
.iconContainer img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.playIconContainer {
  width: 20%;
  cursor: pointer;
}
.titleContainer {
  cursor: pointer;
  width: 60%;
}
.titles {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  span {
    font-size: small;
    color: rgb(172, 171, 171);
    &:hover {
      text-decoration: underline;
    }
  }
  p:hover {
    text-decoration: underline;
  }
}
.btnTwo {
  display: inline-block;
  background-color: #0b54ff;
  color: white;
  font-weight: 400;
  margin-left: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.15rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  background-color: lightblue;
  color: black;
  font-weight: 400;
  margin-left: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.15rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  border: 1px solid gray;
  background-color: #214a4a;
}
.btnTwo:hover {
  cursor: pointer;
  border: 1px solid gray;
  background-color: #0b8aff;
}
