.auth {
  min-height: 90vh;
  position: relative;
  // right: 20px;
  // top: 5px;
  // margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  z-index: 3;
  animation: slide-up 0.5s ease;

  .img {
    animation: slide-down 0.5s ease;
  }

  .form {
    padding: 1rem;

    h3 {
      font-size: 20px;
      color: white;
      text-align: center;
    }
    form {
      input[type='text'],
      input[type='email'],
      input[type='password'] {
        display: flex;
        position: relative;
        font-size: 1rem;
        font-weight: 300;
        padding: 0.3rem;
        margin: 1.8rem 0px;
        width: 100%;
        border: 1.5px solid #777;
        border-radius: 5px;
        justify-content: center;
        outline: none;
        background-color: #d8e5f2;
      }

      .links {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        font-size: 14px;
      }
      .linksTwo {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
        font-size: 14px;
      }

      p {
        text-align: center;
        margin: 1rem;
        &:hover {
          color: white;
        }
      }
    }
    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      font-size: 14px;
      color: white;
    }
  }
  .gooSign {
    color: #fff;
    margin-right: 7px;
  }

  .btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 6px 6px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: #0b5ed7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    width: 100%;
    &:hover {
      background-color: #0d6efd;
      transform: translateY(-8%);
    }
  }
  .btnLoading {
    font-size: 0.6rem;
    font-weight: 400;
    padding: 0;
    margin: 0 0px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: #0b5ed7;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    transition: all 0.3s;
    width: 100%;
    height: 25px;
    &:hover {
      background-color: #0d6efd;
      transform: translateY(-8%);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}
